<link rel="stylesheet" href="login.css">
<form id="loginForm" action="/auth/login" method="post">
  <div class="reset-success">Dein Kennwort wurde zurückgesetzt, melde Dich nun an!</div>
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div class="logfail">Login fehlgeschlagen.</div>
  <button type="submit">Login</button>
  <div class="forum-login">
    <% if (message) { %>
    <div><%= message %></div>
    <% } else { %>
    <div><button onclick="window.location.href = '/auth'">Über das classic-computing.de-Forum anmelden</button></div>
    <% } %>
  </div>
  <script src="login.js"></script>
</form>
