<link rel="stylesheet" href="set-password.css">
<% if (keyValid) { %>
<h1>Setze dein Passwort</h1>
<form id="loginForm" action="/auth/set-password" method="post">
  <input type="hidden" name="key" value="<%= key %>">
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <label for="verify_password">Nochmal:</label>
    <input type="password" id="verify_password" name="verify_password" required>
  </div>
  <button type="submit">Password setzen</button>
  <script src="set-password.js"></script>
</form>
<% } else { %>
<h1>Link nicht gültig</h1>
<p>Der Link zum Zurücksetzen des Passworts ist nicht gültig. Bitte fordere einen neuen Link an.</p>
<% } %>
