<h3>Status</h3>

<link rel="stylesheet" href="status.css">
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Hardware</th>
    <th>Software</th>
    <th>Protokolle</th>
    <th>Besitzer</th>
  </tr>
  </thead>
  <tbody>
  <% for (let i = 0; i < hosts.length; i++) { const host = hosts[i] %>
  <% if (host.editable || !host.blacklisted) { %>
  <tr data-mac-address="<%= host.mac_address %>"
      data-blacklisted="<%= host.blacklisted %>"
      onclick="document.location = '/hostinfo/<%= host.mac_address %>'">
    <td data-field="name"><%= host.name %></td>
    <td data-field="hardware"><%= host.hardware %></td>
    <td data-field="software"><%= host.software %></td>
    <td><%- host.protocols?.map(({ name, description}) => `<span title="${description}" class="protocol">${name}</span>`).join(' ') %>
    </td>
    <td><%= host.owner %></td>
  </tr>
  <% } %>
  <% } %>
  </tbody>
</table>
<p>
  Auf dieser Seite wird angezeigt, welche Rechner gerade über
  RetroStar zu erreichen sind.  Wenn eine Maschine für 5 Minuten nicht
  mehr auf der Bridge aktiv war, wird sie aus der Liste gelöscht.
  Mit Mausklick auf einen Eintrag kannst Du Details zum jeweiligen
  System anzeigen und für Deine eigenen Systeme auch ändern.
</p>
