<h3>Status</h3>

<link rel="stylesheet" href="status.css">
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>MAC-Adresse</th>
    <th>Hardware</th>
    <th>Software</th>
    <th>Protokolle</th>
    <th>Besitzer</th>
  </tr>
  </thead>
  <tbody>
  <% for (let i = 0; i < hosts.length; i++) { const host = hosts[i] %>
    <tr data-mac-address="<%= host.mac_address %>">
      <td data-field="name" contenteditable="<%= host.editable %>"><%= host.name %></td>
      <td><%= host.mac_address %></td>
      <td data-field="hardware" contenteditable="<%= host.editable %>"><%= host.hardware %></td>
      <td data-field="software" contenteditable="<%= host.editable %>"><%= host.software %></td>
      <td><%- host.protocols?.map(({ name, description}) => `<span title="${description}" class="protocol">${name}</span>`).join(' ') %></td>
      <td><%= host.owner %></td>
    </tr>
  <% } %>
  </tbody>
</table>
<p>
  Auf dieser Seite wird angezeigt, welche Rechner gerade über
  RetroStar zu erreichen sind.  Wenn eine Maschine für 5 Minuten nicht
  mehr auf der Bridge aktiv war, wird sie aus der Liste gelöscht.  Die
  Liste der Protokolle wird fortlaufend ermittelt, jedoch werden
  Protokolle nicht automatisch gelöscht.
</p>
<% if (typeof user == 'object') { %>
<p>
  Du kannst die Datenbankeinträge für Deine Systeme direkt bearbeiten, indem
  Du in eines mit einem Stift <img src="pencil.png" height="15"/> gekennzeichneten Felder
  klickst.  Änderungen werden gespeichert, sobald Du ENTER drückst oder das
  Feld verlässt.
</p>
<% } %>
<script src="status.js"></script>


<h3>Über RetroStar</h3>
<p>RetroStar ist ein Sternrechner, der Computer mit antiken Netzwerkprotokollen verbindet. Teilnehmer verwenden einen Raspberry Pi, um Ihr Retro-Ethernet mit den Netzen der anderen Teilnehmern zu verbinden. Dabei fungiert RetroStar als Bridge, und die Netze verhalten sich so, als wären sie direkt miteinander verbunden.</p>
<p>Die Internet-Protokolle (IP, IPv6 und ARP) werden nicht über RetroStar weitergeleitet.</p>
<p>Die ersten Benutzer des RetroStar benutzen DECNET und LAT, um ihre Systeme von Digital Equipment miteinander zu verbinden. Es ist aber auch möglich, andere Protokolle wie IPX oder Ethertalk zu verwenden.</p>
<p>RetroStar ist ein Projekt des <a href="http://classic-computing.org">VzEKC e.V.</a></p>



<h3>Updates</h3>
<p>
  <ul>
    <li>16.02.2024: Dynamische Website in Betrieb genommen</li>
  </ul>
</p>


