#event-log-container {
    position: fixed;
    bottom: 4px;
    right: 4px;
}

#event-log {
    width: 680px;
    max-height: 150px;
    max-height: 30%;
    overflow: auto;
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
    z-index: 1000;
    font-size: 80%;
    display: none;
}

#event-log-icon {
}
