#event-log {
    position: fixed;
    bottom: 4;
    right: 4;
    width: 680px;
    max-height: 150px;
    overflow: auto;
    background-color: #000;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
    z-index: 1000;
}
