tbody tr[data-blacklisted="true"] {
    text-decoration: line-through;
}

tbody tr[data-has-description="true"] td {
    font-weight: bold;
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: #c0f0ff;
}
