@font-face {
    font-family: 'Meyrin';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(/meyrin.woff) format('woff');
}

#event-log {
    font-family: "Meyrin", monospace;
    background-color: #000;
    color: #04ff00;

    position: fixed;
    bottom: 4px;
    right: 4px;
    width: 640px;
    height: 192px;
    max-height: 30%;
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    margin: 4px;
    z-index: 1000;
    font-size: 90%;
    line-height: 110%;
}

p, a, li, td, label, button {
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    font-style: normal;
    max-width: 680px;
}

h1, h2, h2 a, h3, h3 a, h4, h4 a, strong, th {
    font-family: "Helvetica", sans-serif;
    font-size-adjust: 0.508;
    font-weight: bold;
    font-style: normal;
}

.mono {
    font-family: "Courier New", courier-new, courier, monospace;
    font-weight: normal;
    font-style: normal;
}

/*STYLES*/

body {
    padding: 16px;
    min-width: 320px;
    max-width: 1280px;
    background-color: #fff;
}

h1 {
    font-size: 48px;
    line-height: 48px;
}

h2 {
    font-size: 42px;
    line-height: 48px;
}

h3, p, li, h4, label, button {
    color: #303030;
    font-size: 20px;
    line-height: 32px;
}

h3 {
    padding-top: 36px;
    font-size: 28px;
}

h4 {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid black;
    /*background-color: #ff0;*/
}

a:hover {
    background-color: #e0f0ff;
}

div.ctn {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    width: 40px;
    float: left;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}

blockquote {
    margin-left: 0;
    padding-left: 32px;
    border-left: 4px solid #bbb;
}

table {
    width: 100%;
    margin-left: -8px;
    margin-right: -8px;
}

tr, th, td {
    padding: 8px;
    border-bottom: 1px solid black;
    text-align: left;
}

.protocol {
    background-color: #ddd;
    padding: 4px 8px;
    border-radius: 8px;
}

/* HEADER */

header {
    display: block;
    height: 64px;
    padding: 0;
    margin: 0;
    margin-bottom: 16px;
    vertical-align: middle;
}

header .headerLeft {
    float: left;
    display: inline-block;
}

header .headerRight {
    display: block;
    float: right;
    text-align: right;
    height: 100%;
}

header h1 {
    margin: 8px;
    padding: 0;
    display: inline-block;
    font-size: 32px;
    line-height: 32px;
    vertical-align: middle;
    margin-top: 16px;
}

header .logoBox {
    float: left;
    display: inline-block;
}

header img.logo {
    width: 64px;
    float: left;
    display: inline;
}

/* HEADER's NAV */

nav.mainNav {
    float: left;
    display: inline-block;
    margin-left: 32px;
    margin-top: 8px;
}

nav.serviceNav {
    margin-top: 8px;
}

nav ul {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 8px;
}

nav li {
    display: inline-block;
}

nav a,
nav button {
    display: inline-block;
    color: #09f;
    text-decoration: none;
    background-color: #fff;
    padding: 8px 16px;
    border: 0;
    border-radius: 4px;
    text-align: left;
}

nav li button {
    background-color: #ddd;
    display: inline-block;
    height: 48px;
}

nav li.active a {
    background-color: #fff;
    font-weight: bold;
    color: #000;
}

nav a:hover,
nav li button:hover {
    background-color: #09f;
    color: #fff;
}


/* main */

a.chip {
    background-color: #c0f0ff;
    color: #09f;
}

a.chip:hover {
    background-color: #09f;
    color: #fff;
    border: 0;
}

main {
    margin-left: 72px;
}

footer {
    margin-left: 72px;
    margin-top: 192px;
}

footer p {
    font-size: small;
}
